<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Instimage</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/master.css" type="text/css" media="screen" charset="utf-8" />
    <script src="/moo.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div id="header">
      
    </div>
    <div id="main">
      <div id="body">
        <%= catch_content :for_layout %>
      </div>
    </div>
    <br style="clear:both"/>
    <div id="footer">
    </div>
  </body>
</html>